/* Commonly used CSS */

i {
    font-size: 50px;
}

li {
    display: inline-block
}

.font-colour {
    color: #f2f2f2;
    font-family: 'Courgette', 'cursive', sans-serif;
}

.main-border{
    border: 5px solid #1c2f2f;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

/* CSS For The Naigation Section */

.nav {
    overflow: hidden;
    background-color: darkslategray;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 5px solid #1c2f2f;
}

.nav-elements {
    padding-top: 20px;
}

.nav-elements a {
    color: #f2f2f2;
    font-family: 'Courgette', 'cursive', sans-serif;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 26px;
}

.pushdown {
    padding-top: 96px;
}

/* CSS For The Home Section */

.hero-image {
    height: 750px;
    background-image: url("/assets/images/Lmbo-Hero-Image\ .jpg");
    background-repeat: no-repeat;
    border-bottom: 5px solid #1c2f2f;
}

#jumbotron {
    width: 700px;
    height: 400px;
    background-color: rgba(47, 79, 79, 0.4);
    border-radius: 50px;
    margin-top: 100px;
}

#brand-name {
    font-size: 56px;
    text-align: center;
    text-decoration: underline;
    padding-top: 20px;
}

#slogan {
    font-size: 28px;
    text-align: center;
    padding-top: 20px;
}

#form-button {
    font-size: 30px;
    font-family: 'Courgette', 'cursive', sans-serif;
    margin: 50px 0 0 175px;
    padding: 10px 0 10px 0;
}

#button-link{
    color: #f2f2f2;
    text-decoration: none;
}

/* CSS For The Shop Section */

.shop-section {
    height: 820px;
    background-color: #2d2d2d;
    border-top: 5px solid #1c2f2f;
    border-bottom: 5px solid #1c2f2f;
}

.shop {
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    text-decoration: underline;
}

.car-shop {
    height: 600px;
    width: 400px;
    border-radius: 25px;
    background-color: rgba(47, 79, 79, 0.4);
    margin-top: 40px;
    float: center;
}

.car-name {
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
}

.specs-title {
    text-align: center;
    font-size: 26px;
}

.specs {
    font-size: 16px;
    margin: 20px 0 0 25px;
}

.buy-now {
    margin: 40px 0 0 100px;
}

.car {
    font-size: 16px;
}

.specs-title-lambo {
    text-align: center;
    font-size: 26px;
    margin-top: 10px;
}

.specs-title-ferrari {
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

#porsche {
    float: right;
}

/* CSS For The Meetup Section */

.meetup-section {
    height: 830px;
    background-size: 100% 100%;
    background-color:#909999;
    background-repeat: no-repeat;
    border-top: 5px solid #1c2f2f;
    border-bottom: 5px solid #f2f2f2;

}

.meetup-style{
    color: #2f4f4f;
    font-family: 'Courgette', 'cursive', sans-serif;
}

.google-location {
    border: 5px solid #f2f2f2;
    border-radius: 20px;
}

.where-we-are {
    font-size: 26px;
    text-align: center;
}

.locations {
    width: 700px;
    height: 300px;
    background-color: rgb(255 255 255 / 65%);
    margin-top: 30px;
    border: 5px solid #f2f2f2;
    border-radius: 20px;
}

.location-1 {
    margin-left: 200px;
}

.location-2 {
    margin-right: 200px;
}

.meetup-location {
    text-align: left;
    font-size: 40px;
    margin: 10px 0 0 20px;
    text-decoration: underline;
}

.meetup-icons {
    color: #2f4f4f;
    font-size: 22px;
    margin: 0 0 0 20px;
}

.meetup-description {
    display: inline;
    color: #2f4f4f;
    font-family: 'Courgette', 'cursive', sans-serif;
    font-size: 22px;
    margin: 10px 0 0 10px;
}

.down {
    margin-top: 20px;
}

#placement-shop-1{
    margin: 0 0 0 0;
}

/* CSS For The Footer Section */

.footer-section {
    width: 100%;
    height: 100px;
    background-color: #2d2d2d;
}

.brand-name {
    font-size: 30px;
    margin-left: 30px;

}

.brand-logo {
    margin-left: 50px;
}

.copyright {
    margin-top: 60px;
}

.contact-details {
    display: flex;
    font-size: 18px;
    margin-top: 25px;
    margin-left: 250px;
}

/* CSS For The Form Section */

.form {
    height: 923px;
    width: 1920px;
    background-color: #455757;
}

label {
    display: block;
    color: #f2f2f2;
    font-family: 'Courgette', 'cursive', sans-serif;
    font-size: 25px;
    margin: 15px 0 0 0;
}

.input {
    display: block;
    border: 2px solid #455757;
    border-radius: 50px;
}

.form-table {
    height: 600px;
    width: 600px;
    border: 5px solid #f2f2f2;
    border-radius: 20px;
    background-color: #1a3435;
}

.form-headline {
    font-size: 40px;
    margin-top: 100px;
}

.input-position {
    height: 40px;
    font-size: 26px;
    margin-left: 80px;
}

.radio-label {
    margin-left: 15px;
    height: 40px;
    font-size: 26px;
    display: inline;
}

.radio-button {
    display: inline-block;
    margin-right: 20px;
}

.central {
    text-align: center;
}

.question {
    display: block;
    font-size: 25px;
    margin: 25px 0 0 0;
    text-decoration: underline;
}

.submit-button {
    display: block;
    background-color: green;
    font-size: 30px;
    border-radius: 25px;
    border: 5px solid #f2f2f2;
    height: 60px;
    width: 300px;
    margin: 20px 0 0 140px;
}

/* CSS For The Coming-soon Section */

#coming-soon{
    width: 100%;
    height: 100%;
    background-color: #1a3435;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.soon-come{
    font-size: 100px;
    text-decoration: underline;
}