/* Commonly used CSS */

i {
    font-size: 50px;
}

li {
    display: inline-block
}

.font-colour {
    color: #f2f2f2;
    font-family: 'Courgette', 'cursive', sans-serif;
}

.main-border{
    border: 5px solid #1c2f2f;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

/* CSS For The Naigation Section */

.nav {
    overflow: hidden;
    background-color: darkslategray;
    top: 0;
    border-bottom: 5px solid #1c2f2f;
}

.nav-elements {
    padding-top: 20px;
}

.nav-elements a {
    color: #f2f2f2;
    font-family: 'Courgette', 'cursive', sans-serif;
    text-align: center;
    padding: 15px 15px;
    font-size: 26px;
}

.social-icons {
    float: right;
}

.pushdown {
    padding-top: 96px;
}

#brand-img {
    width: 320px;
    height: 80px;
    background-image: url("/assets/images/Logo-Image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 320px 80px;
}

/* CSS For The Home Section */

.hero-image {
    height: 750px;
    width: 100%;
    background-image: url("/assets/images/Lmbo-Hero-Image\ .jpg");
    background-size: 100% 750px;
    background-repeat: no-repeat;
    border-bottom: 5px solid #1c2f2f;
}

#jumbotron {
    height: 400px; 
    width: 40%;
    background-color: rgba(47, 79, 79, 0.4);
    border-radius: 50px;
    margin-top: 100px;
}

#brand-name {
    font-size: 56px;
    text-align: center;
    text-decoration: underline;
    padding-top: 20px;
}

#slogan {
    font-size: 28px;
    text-align: center;
    padding-top: 20px;
}

#form-button {
    font-size: 30px;
    font-family: 'Courgette', 'cursive', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 10px 0 10px 0;
    border: 3px solid #f2f2f2;
}

#button-link{
    color: #f2f2f2;
    text-decoration: none;
}

/* CSS For The Shop Section */

.shop-section {
    height: 820px;
    background-color: #2d2d2d;
    border-top: 5px solid #1c2f2f;
    border-bottom: 5px solid #1c2f2f;
}

.shop {
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    text-decoration: underline;
}

.car-shop {
    height: 600px;
    width: 400px;
    border-radius: 25px;
    background-color: rgba(47, 79, 79, 0.4);
    margin-top: 40px;
}

.car-name {
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
}

.specs-title {
    text-align: center;
    font-size: 26px;
}

.specs {
    font-size: 16px;
    margin: 20px 0 0 25px;
}

.buy-now {
    margin: 40px 0 0 100px;
}

.car {
    font-size: 16px;
}

.specs-title-lambo {
    text-align: center;
    font-size: 26px;
    margin-top: 10px;
}

.specs-title-ferrari {
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

#porsche {
    float: right;
}

/* CSS For The Meetup Section */

.meetup-section {
    height: 830px;
    background-size: 100% 100%;
    background-color:#909999;
    background-repeat: no-repeat;
    border-top: 5px solid #1c2f2f;
    border-bottom: 5px solid #f2f2f2;

}

.meetup-style{
    color: #2f4f4f;
    font-family: 'Courgette', 'cursive', sans-serif;
}

.google-location {
    border: 5px solid #f2f2f2;
    border-radius: 20px;
}

.where-we-are {
    font-size: 26px;
    text-align: center;
}

.locations {
    width: 700px;
    height: 300px;
    background-color: rgb(255 255 255 / 65%);
    margin-top: 30px;
    border: 5px solid #f2f2f2;
    border-radius: 20px;
}

.location-1 {
    margin-left: 200px;
}

.location-2 {
    margin-right: 200px;
}

.meetup-location {
    text-align: left;
    font-size: 40px;
    margin: 10px 0 0 20px;
    text-decoration: underline;
}

.meetup-icons {
    color: #2f4f4f;
    font-size: 22px;
    margin: 0 0 0 20px;
}

.meetup-description {
    display: inline;
    color: #2f4f4f;
    font-family: 'Courgette', 'cursive', sans-serif;
    font-size: 22px;
    margin: 10px 0 0 10px;
}

.down {
    margin-top: 20px;
}

#placement-shop-1{
    margin: 0 0 0 0;
}

/* CSS For The Footer Section */

.footer-section {
    width: 100%;
    height: 100px;
    background-color: #2d2d2d;
}

.brand-name {
    font-size: 30px;
    margin-left: 30px;

}

.brand-logo {
    height: 50px;
    width: 200px;
    margin-left: 50px;
    background-image: url("/assets/images/Logo-Image.png");
    background-size: 200px 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.copyright {
    margin-top: 60px;
}

.contact-details {
    display: flex;
    font-size: 18px;
    margin-top: 25px;
    margin-left: 250px;
}

/* CSS For The Form Section */

.form {
    height: 923px;
    width: 1920px;
    background-color: #455757;
}

label {
    display: block;
    color: #f2f2f2;
    font-family: 'Courgette', 'cursive', sans-serif;
    font-size: 25px;
    margin: 15px 0 0 0;
}

.input {
    display: block;
    border: 2px solid #455757;
    border-radius: 50px;
}

.form-table {
    height: 600px;
    width: 600px;
    border: 5px solid #f2f2f2;
    border-radius: 20px;
    background-color: #1a3435;
}

.form-headline {
    font-size: 40px;
    margin-top: 100px;
}

.input-position {
    height: 40px;
    font-size: 26px;
    margin-left: 80px;
}

.radio-label {
    margin-left: 15px;
    height: 40px;
    font-size: 26px;
    display: inline;
}

.radio-button {
    display: inline-block;
    margin-right: 20px;
}

.central {
    text-align: center;
}

.question {
    display: block;
    font-size: 25px;
    margin: 25px 0 0 0;
    text-decoration: underline;
}

.submit-button {
    display: block;
    background-color: green;
    font-size: 30px;
    border-radius: 25px;
    border: 5px solid #f2f2f2;
    height: 60px;
    width: 300px;
    margin: 20px 0 0 140px;
}

/* CSS For The Coming-soon Section */

#coming-soon{
    width: 100%;
    height: 100%;
    background-color: #1a3435;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.soon-come{
    font-size: 100px;
    text-decoration: underline;
}

/* CSS For small Screen Sizes */

@media screen and (min-width: 320px) and (max-width: 767px) {
    
    /* navigation section */

    .socials {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .nav-elements a {
        font-size: 20px;
        padding: 0;
        margin-right: 20px;
    }

    #brand-img {
        display: none;
    }

    #get-in-touch {
        display: none;
    }

    /* home section */

    .hero-image {
        height: 600px;
        background-image: none;
        background-color: #a7abb7;
    }

    #jumbotron {
        height: 400px;
        width: 80%;
        margin-top: 90px;
    }

    #brand-name {
        font-size: 48px;
    }

    #slogan {
        font-size: 24px;
    }

    #form-button {
        width: 85%;
        height: 15%;
        border-radius: 15px;
    }

    #button-link {
        font-size: 20px;
    }
}


/* CSS For Medium Screen Sizes */

@media screen and (min-width: 768px) and (max-width: 1399px) {
    
    /* navigation section */
    
    .nav {
        height: 80px;
    }

    ul.nav-elements li a.nav-links {
        font-size: 26px;
    }

    .nav-elements .social-icons {
        display: none;
    }

    #brand-img {
        display: none;
    }

    /* home section */

    #form-button {
        width: 65%;
        height: 15%;
    }

    #brand-name {
        font-size: 40px;
    }
    
    #slogan {
        font-size: 18px;
    }

    #button-link {
        font-size: 22px;
    }

    /* Shop section */

    .shop-section {
        height: 2020px;
    }

    .car-shop {
        display: block;
        margin: auto;
        margin-top: 30px;
    }

    #porsche {
        float: none;
    }

    /* Meetup section */

    .meetup-section{
        height: 1140px;
    }

    .where-we-are {
        margin-top: 20px;
    }
    
    .location-1 {
        margin-left: 0;
    }
    
    .location-2 {
        margin-right: 0;
    }

    /* footer section */

    .brand-logo {
        display: none;
    }
    
    .brand-name {
        margin-top: 40px;
        font-size: 24px;
    }

    .copyright {
        font-size: 8px;
    }

    .contact-details {
        font-size: 14px;
        margin-left: 30px;
    }
}

/* CSS For Large Screen Sizes */

@media screen and (min-width: 1400px) and (max-width: 1645px) {
    
    /* navigation section */

    .nav-elements a {
        font-size: 20px;
    }

    .nav-elements {
        padding-top: 25px;
    }

    .socials {
        padding-top: 18px;
    }

    /* Meetup section */

    .meetup-description {
        font-size: 15px;
        margin-top: 15px;
    }

    /* footer section */

    .contact-details {
        font-size: 14px;
        margin-top: 20px;
    }

    .copyright {
        font-size: 12px;
        margin-top: 65px;
    }
}   
